.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 900px; /* Ajustar el ancho para acomodar dos columnas */
}

/* Estilo para la cuadrícula de dos columnas */
.custom-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 16px; /* Equivalente a Tailwind's gap-4 */
  margin-top: 20px;
}

.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.modal-field label {
  display: block;
  margin-bottom: 5px;
}

.modal-field input,
.modal-field textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
}

.modal-actions button {
  margin-left: 10px;
  padding: 10px 20px;
}
